.value-input {
  width: 34px;
  font-size: 14px;
  color: rgba(0,0,0,.8);
  background-color: rgba(0,0,0,0);
  border: 1px solid transparent;
  border-radius: 2px;
  text-align: center;
  transition: border-color .3s;
}

.value-input:hover, .value-input:focus {
  border-color: rgba(0,0,0,.1);
}

.value-input:focus {
  outline: 0;
  background-color: rgba(0,0,0,.02);
}
