.left-panel {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
}

.left-panel__toolbar {
  width: 70px;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-list {
  padding: 12px 6px;
  width: calc(var(--sidebar-width) - 70px);
  height: 100%;
  border-right: 1px solid rgba(0,0,0,.1);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.component-list > button {
  font-size: 12px;
  color: rgba(0,0,0,.8);
  background-color: rgba(0,0,0,0);
  margin: 12px;
  height: 40px;
  border: 0;
  cursor: pointer;
}

.component-list > .selected {
  font-weight: 700;
}

.logo {
  margin-top: 20px;
}
