.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid transparent;
  height: inherit;
}

.dropdown:focus {
  outline: 0;
}

.overlay {
  position: absolute;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,.95);
  z-index: 1000;
}

.overlay > [role=menu] {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.16);
}
