.menu {
  list-style: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.menu-item {
  padding: 10px 20px;
  background: white;
  cursor: pointer;
  transition: background-color .3s cubic-bezier(0, 0, .2, 1);
  text-align: center;
  border-radius: 2px;
}

.menu-item:hover {
  background-color: rgba(0,0,0,.04);
  transition: none;
}

.menu-item-selected {
  border: 1px solid rgba(0,0,0,.14);
  box-shadow: inset 0 0 10px rgba(0,0,0,.04);
}
