.checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 2px;
  line-height: 1;
  transition: background-color .23s;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.checkbox:hover {
  background-color: rgba(0,0,0,.03);
}

.checkbox--disabled {
  background-color: rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.2);
  cursor: not-allowed;
}

.checkbox--checked::after {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  left: 4px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: 2px solid rgba(0,0,0,.6);
  border-top: 0;
  border-left: 0;
  pointer-events: none;
}

.checkbox--checked.checkbox--disabled::after {
  border-color: #ccc;
  cursor: not-allowed;
}

.checkbox__input {
  vertical-align: middle;
  margin: 0;
  opacity: 0;
  width: 15px;
  height: 15px;
  cursor: inherit;
}
