.button-row {
  margin: 20px;
}

.button-row__label-wrap {
  display: inline-block;
  width: 150px;
}

.button-row__label {
  display: inline-block;
  color: rgba(0,0,0,.2);
  font-size: 13px;
  cursor: pointer;
  padding: 5px;
}

.edit-icon {
  margin-left: 6px;
  opacity: 0;
  transition: opacity .2s;
  vertical-align: bottom;
}

.edit-icon--visible {
  opacity: 1;
}

.button-row__button {
  cursor: pointer;
  padding: 1em 2.2em; 
}

.button-row__button:focus {
  outline: 0;
}

.button-row__input {
  width: 50px;
  background-color: rgba(255,255,255,.2);
  border: 0;
  outline: 0;
}
