.border-control__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

.border-style__solid,
.border-style__dashed,
.border-style__dotted,
.border-style__double {
  width: 22px;
  height: 0px;
  border: 0;
  border-top: 4px solid rgba(50,50,50,1);
}

.border-style__dashed {
  border-style: dashed;
}

.border-style__dotted {
  border-style: dotted;
}

.border-style__double {
  border-style: double;
}
