.border-control-menu {
  width: 200px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.border-control-menu__bottom {
  display: flex;
  align-items: center;
}
