.border-width-control {
  position: relative;
  width: 110px;
  height: 60px;
  margin: 35px 45px;
}

.border-width-control__border {
  width: 100%;
  height: 100%;
  background-color: #eee;
  border-style: solid;
}

.border-width-control__lock-icon,
.border-width-control__lock-icon--disabled {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
  padding: 2px;
  cursor: pointer;
}

.border-width-control__lock-icon path {
  fill: hsl(0, 0%, 50%);
}

.border-width-control__lock-icon--disabled path {
  fill: hsl(0, 0%, 80%);
}

.border-width-control span {
  font-size: 11px;
  font-weight: 400;
  color: rgba(0,0,0,.8);
  margin-right: 8px;
}

.border-width-control__top,
.border-width-control__left,
.border-width-control__right,
.border-width-control__bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-width-control__top,
.border-width-control__bottom {
  left: 0;
  height: 35px;
  width: 100%;
}

.border-width-control__top {
  top: -35px;
}

.border-width-control__bottom {
  bottom: -35px;
}

.border-width-control__left,
.border-width-control__right {
  top: 0;
  height: 100%;
  width: 45px;
}

.border-width-control__left {
  left: -45px;
}

.border-width-control__right {
  right: -45px;
}
