.handle {
  position: absolute;
  border: 5px solid rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.1);
  border-radius: 8px;
  box-sizing: content-box;
  opacity: 0;
  transition: opacity .23s;
}

.handle__top {
  top: 30px;
  width: 100%;
  height: 0px;
}

.handle__bottom {
  bottom: 30px;
  width: 100%;
  height: 0px;
}

.handle__left {
  left: 40px;
  top: -5px;
  height: 100%;
  width: 0px;
}

.handle__right {
  right: 40px;
  top: -5px;
  height: 100%;
  width: 0px;
}

.handle:hover,
.handle--hover {
  opacity: 1;
}

.handle__top:hover,
.handle__top.handle--hover,
.handle__bottom:hover,
.handle__bottom.handle--hover {
  cursor: ns-resize;
}

.handle__left:hover,
.handle__left.handle--hover,
.handle__right:hover,
.handle__right.handle--hover {
  cursor: ew-resize;
}
