.control-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - var(--sidebar-width));
  background-color: #fff;
  z-index: 300;
}

.toolbar {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.toolbar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  cursor: default;
}

.toolbar-box > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 90px;
  margin-bottom: 2px;
}

.toolbar-box > span {
  font-size: 10px;
  color: rgba(0,0,0,.4);
}

.toolbar-box p {
  font-size: 16px;
  color: rgba(0,0,0,.8);
  margin: 0;
  display: inline-block;
}

.toolbar-box svg {
  margin-right: 10px;
}
