.tablist {
  position: relative;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.tablist > * {
  font-size: 10px;
  font-weight: 700;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,.3);
}

.tablist > *.selected {
  color: rgba(0,0,0,.9);
  cursor: default;
  border-bottom: 1px solid rgba(0,0,0,.9);
  margin-bottom: -1px;
}
