.slider {
  height: 15px;
  position: relative;
  padding: 6px 0;
  vertical-align: middle;
  margin: 0 8px;
}

.slider__fill {
  position: absolute;
  height: 3px;
  background-color: #ccc;
  border-radius: 6px;
}

.slider__handle {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: -6px;
  margin-top: -3px;
  border-radius: 50%;
  box-shadow: 0 0 0px 1px rgba(0,0,0,.2);
  background-color: #fff;
  cursor: pointer;
}

.slider__handle:active {
  cursor: pointer;
}

.slider__handle:focus {
  outline: 0;
}

.slider__empty {
  height: 3px;
  width: 100%;
  background-color: rgba(0,0,0,.1);
  border-radius: 6px;
}

.slider-disabled .slider__fill {
  background-color: gray;
}

.slider--disabled .slider__handle {
  background-color: gray;
  cursor: not-allowed;
}

.slider--disabled .slider__handle:active {
  cursor: not-allowed;
}
