@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

:root {
  --sidebar-width: 220px;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, code, em, small, strong,
b, u, i, ol, ul, li, button,
fieldset, form, label,
article, aside, footer, header,
menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

button:focus {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

body {
  background: #fff;
  color: #000;
  line-height: 1;
}
