.shadow-control-menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shadow-control-menu__top,
.shadow-control-menu__blur-spread {
  padding: 10px 0;
}

.shadow-control-menu label {
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  color: rgba(0,0,0,.3);
  margin: 0 5px 0 10px;
}

.shadow-control-menu__blur-spread label {
  width: 40px;
}

.shadow-control-menu__blur-spread input {
  margin: 0 4px;
}

.shadow-control-menu .slider {
  display: inline-block;
  width: 80px;
}

.shadow-control-menu__blur-spread > div {
  margin-bottom: 5px;
}
