.shadow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.03);
  overflow: hidden;
}

.shadow-icon__preview {
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  background-color: white;
}
