.shadow-preview,
.shadow-preview--dragging {
  width: 100%;
  height: 100px;
  background-color: rgba(0,0,0,.05);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shadow-preview--dragging {
  cursor: move;
}

.shadow-preview__box {
  width: 40px;
  height: 40px;
  background-color: #fff;
}

.shadow-preview__shadow {
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0);
  position: absolute;
  cursor: move;
}

.shadow-preview__shadow:hover {
  border: 1px solid #aaa;
}
